<h1>New Day Log</h1>
<%= form_for [@profile, @day] do |f| %>
  <%= f.label :sleep %>
  <%= f.number_field :sleep, in: 1.0..24.0, step: 0.5 %>

  <%= f.label :money_spent %>
  <%= f.number_field :money_spent %>

  <%= f.label :mood %>
  <%= f.number_field :mood, in: 1.0..10.0, step: 0.5 %>

  <%= f.label :energy_level %>
  <%= f.number_field :energy_level, in: 1.0..10.0, step: 0.5 %>

  <%= f.label :date %>
  <%= f.number_field :date, step: 1 %>

  <%= f.label :note %>
  <%= f.text_field :note, class: "form-control" %>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
