
<% if current_user.profile  %>
    <h1>Your Dashboard</h1>
    <span id="<%= @profile.id %>"><%= link_to "add day", new_profile_day_path(@profile), class: "btn btn-primary", remote: true %></span>
    <%= line_chart  [
        {name: 'Sleep' , data: '4'},
        {name: 'Energy Level' , data: '6'},
        {name: 'Energy Level' , data: '1'},
        {name: 'Money Spent' , data: '2'}
    ] %>


<% else %>
    <h1>Create Your Profile</h1>
    <span id="<%= @user.id %>_add_profile"><%= link_to "add profile", new_user_profile_path(@user), class: "btn btn-primary", remote: true %></span>

<% end %>
