
<% if current_user.profile  %>
    <h1>Your Dashboard</h1>
    <span id="<%= @profile.id %>"><%= link_to "add day", new_profile_day_path(@profile), class: "btn btn-primary", remote: true %></span>


    <%= bar_chart Day.group(:mood).sum(:energy_level) %>

    <%= line_chart [
     {name: "Mood", data: Day.all.inject({}) {|res, v| res[v[:created_at]] = v.mood; res }},
     {name: "Energy Level", data: Day.all.inject({}) {|res, v| res[v[:created_at]] = v.energy_level; res }},
     {name: "Money Spent", data: Day.all.inject({}) {|res, v| res[v[:created_at]] = v.money_spent; res }},
     {name: "Sleep", data: Day.all.inject({}) {|res, v| res[v[:created_at]] = v.sleep; res }}
                 ] %>

<% else %>
    <h1>Create Your Profile</h1>
    <span id="<%= @user.id %>_add_profile"><%= link_to "add profile", new_user_profile_path(@user), class: "btn btn-primary", remote: true %></span>

<% end %>
